<!DOCTYPE html>
<html lang="en">
    <div class="product-card">
        <img src="./images/house1.png" alt="" class="product-img">
        <div class="card-info">

            <div class="card-info-content">
                <img src="./images/location.svg" alt="">
                <p class="loaction-name">jakarta barat indonesia</p>
            </div>
            <div class="card-info-content">
                <div class="content">
                    <img src="./images/bed.svg" alt="">
                    <p>beds</p>
                </div>
                <div class="content">
                    <img src="./images/size.svg" alt="">
                    <p>10x10m</p>
                </div>
                <div class="content">
                    <img src="./images/area.svg" alt="">
                    <p>14000M</p>
                </div>
            </div>
            <div class="price">
                <p>price</p>
                <a href="" class="booking-btn">Book Now</a>
            </div>

        </div>
    </div>
    